<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bigosavers">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.bigosaver.user.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appiconlogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo"
        tools:replace="android:icon">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="appicon" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="WR9-967-484Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="a6c-c20" />

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"/>

        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="FacebookActivity, LoginActivity, SplashActivity" />

        <service
            android:name="com.bigosaver.user.GetUpdatedDataService"
            android:exported="false" />

        <service android:name="com.bigosaver.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.bigosaver.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.MerchantActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.FilterActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="simplifii.framework.utility.GPSTracker"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="80321e6728ee14f79dfede6f05ffc0d319d46eee" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpdF3_5DyflWb9BJdyUVRVidNdUrg-Q4o" />
        <!-- android:value="AIzaSyDo7OhitTJSUF-9MBL2FDSvT7jVApW35L0" -->
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.AppHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.MyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.CashCardCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.SplashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.MembershipSubscribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.SearchPlaceMerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.RedemptionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.UpdateMobileNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.SubscribeMembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.EULA"
            android:screenOrientation="portrait" />
        <activity android:name="com.bigosaver.neerajyadav.bigosaver.activity.PaymentActivity" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.SubscriptionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigosaver.neerajyadav.bigosaver.activity.MembershipMerchantActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bigosaver.neerajyadav.bigosaver.activity.MobileNumberConfirmationActivity" />
        <activity android:name="com.bigosaver.neerajyadav.bigosaver.activity.OtpVerificationActivity"></activity>
    </application>

</manifest>